.header a{
    text-decoration: none;
    color: aqua;
 
}

.header li{
    text-decoration: none;
 list-style: none;
 display: inline-block;
 margin-right: 50px;
}
.header a.active{
    color: rgb(177, 10, 10);
    text-decoration: underline;
}